- name: install python
  ansible.builtin.dnf:
       name: "{{ item }}"
  loop:
      - python3
      - gcc
      - python3-devel  

- name: Install dependencies
  ansible.builtin.pip:
     requirements: requirements.txt
     executable: pip3.9
  args:
    chdir: /app       